
h1 {
padding: 20px;
text-align: center;
color: white;
background-color: rgb(116, 116, 116);
font-family: 'Trebuchet MS';
font-size: 60px;
}

img {
display: block;
margin: 40px auto;
width: 50%;
height: auto;
max-width: none;

}

h2 {
padding: 10px;
text-align: center;
font-family: 'Trebuchet MS';
font-size: 40px;
margin-top: 30px;
}

.info-box {
background-color: rgb(37, 37, 37);
padding: 10px;
margin: 40px auto;
max-width:  80%;
text-align:  center;
}

.info-box h2,
.info-box p {

color: rgb(255, 255, 255);
}

h3 {
font-size: 30px;
font-family: 'Trebuchet MS';
font-size: 30px;
color: rgb(63, 63, 63);
text-align: center;
margin-top: 40px;
} 

body {
background: linear-gradient(to bottom, black,white);
color: rgb(49, 49, 49);
padding-bottom: 50px;
}

p {
font-family: 'Trebuchet MS';
font-size: 20px;
line-height: 1.6;
max-width: 65%;
margin: 0 auto 40px;
text-align: center;
}

.section-img {
display: block;
margin: 20px auto;
width: 40%
}