
h1 {
padding: 20px;
text-align: center;
color: rgb(255, 255, 255);
background-color: rgb(116, 116, 116);
font-family: 'Trebuchet MS';
font-size: 80px;
margin-top: 9px;
margin-bottom: 9px;
}

.section-img {
display: block;
margin: 20px auto;
height: auto;
max-width: 80%;
}

h2 {
text-align: center;
font-family: "Indie Flower", cursive;
font-size: 40px;
color: rgb(0, 0, 0);
margin-top: 5px;
margin-bottom: 10px;
}

.info-box {
background-image: url("/Assignment3/images/paper.png");
background-repeat: repeat-y;
background-size: 100% auto;
background-position: center;
padding: 60px;
margin: 50px auto;
max-width: 90%;
font-size: 30px;
}

.info-box p {
padding: 30px;
text-align: center;
font-family: "Indie Flower", cursive;
font-weight: bold;
color: #2b2b2b;
}

h3 {
font-size: 30px;
font-family: 'Trebuchet MS';
color: rgb(37, 37, 37);
text-align: center;
margin-top: 40px;
} 

body {
background: linear-gradient(to bottom, rgb(0, 0, 0),white);
color: rgb(48, 48, 48);
padding-bottom: 50px;
}

p {
font-family: 'Trebuchet MS';
font-size: 30px;
line-height: 1.6;
margin-bottom: 30px;
}

.section {
margin: 40px auto;
max-width: 80%;
text-align: center;
}

nav ul {
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin: 0 30px;
}

nav {
background-color: rgb(255, 255, 255);
text-align: center;
}

nav a {
color:rgb(0, 0, 0);
text-decoration: none;
font-size: 19px;
font-family: 'Trebuchet MS';
}

nav a::after {
content: "";
margin-left: 6px;
}

nav a:hover::after {
content: "🐲";
}

header {
text-align: center;
padding: 20px;
color: rgb(116, 116, 116);
}

footer {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
text-align: center;
padding: 15px;
margin-top: 40px;
}

video {
width: 96%;
display: block;
margin: 0px auto;
border: 14px solid white;
}

blockquote {
text-align: center;
font-family: 'Trebuchet MS';
font-size: 25px;
color: rgb(255, 255, 255);
margin-top: 25px;
}

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 900px;
margin: 0 auto;
row-gap: 20px;
column-gap: 20px;
}

.gallery img {
width: 30%;
height: auto;
border: 5px solid white;
}

table {
width: 90%;
margin: 90px auto;
border-collapse: collapse;
background-color: transparent;
}

.paper-box {
background-image: url("../images/paper.png");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
max-width: 90%;
margin: 8px auto;
padding: 60px;
}

th, td {
border: 2px solid black;
padding: 12px;
text-align: center;
}

th {
background-color: transparent;
color: rgb(0, 0, 0);
font-size: 26px;
font-family: "Indie Flower", cursive;
}

td {
font-size: 19px;
font-family: "Indie Flower", cursive;
font-weight: bold;
}

fieldset {
background-color: rgb(255, 255, 255);
padding: 30px;
width: 80%;
margin: 20px auto;
margin-bottom: 60px;
border: 3px solid white;
border-radius: 10px;
font-family: 'Trebuchet MS';
}

legend {
font-weight: bold;
font-size: 22px;
color: #ffffff;
padding: 20px;
background-color: rgb(0, 0, 0);
}

label {
display: block;
margin-top: 10px;
font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form select {
width: 250px;
padding: 6px;
margin-top: 5px;
}

form input[type="radio"] {
margin-right: 8px;
margin-top: 10px;
}

form input[type="checkbox"] {
margin-top: 15px;
}

button {
margin-top: 20px;
padding: 8px 16px;
font-size: 16px;
}

@media (max-width: 600px) {
body {
font-size: 16px;
padding: 10px;
}

nav li {
display: block;
margin: 10px 0;
}

h1 {
font-size: 42px;
}

.gallery img {
width: 90%;
}

.info-box {
padding: 30px;
max-width: 95%;
 background-size: cover;
}

video {
width: 100%;
}
}